<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link rel="stylesheet" href="/public/assets/css/bootstrap.min.css" />
</head>
<body>
  <div ng-controller="peliculaAdd as lista">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3>NUEVA PELICULA</h3>
          <form action="/pelicula/nueva" method="POST" ng-submit="lista.submit($event, peli)">
            <div class="form-group">
              <input placeholder="NOMBRE" class="form-control" type="text" name="nombre" ng-model="peli.nombre"  />
            </div>
            <div class="form-group">
              <input placeholder="DIRECTOR" class="form-control" type="text" name="director" ng-model="peli.director"  />
            </div>
            <div class="form-group">
              <input placeholder="CLASIFICACION" class="form-control" type="text" name="clasificacion" ng-model="peli.clasificacion"   />
            </div>
  
            <button class="btn btn-default" ng-click="lista.add()">GUARDAR</button>
          </form>
        </div>
      </div>
    </div>

  </div>

  <script src="/public/assets/js/angular.min.js"></script>
  <script src="/public/assets/js/jquery-1.9.1.js"></script>
  <script src="/public/assets/js/bootstrap.min.js"></script>
  <script src="/public/app.js"></script>
</body>
</html>